@model Entity.info_User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserManagementCreate</title>
    <link href="~/css/css.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/css.css" rel="stylesheet" />
</head>
<body >
    @using (Html.BeginForm("UserManagementCreates", "Systems","post"))
    {
      
            <h2 align="center">用户添加</h2>
            <table cellspacing="0" cellpadding="8" align="center" border="1" style="border-collapse: collapse;width:500px;height:200px;"
                   bordercolor="#6c9ec1">
                <tr>
                    <td>@Html.Label("登陆名：")</td>
                    <td>
                        @Html.EditorFor(model => model.UserName)
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </td>
               
                    <td>@Html.Label("真实姓名：")</td>
                    <td>
                        @Html.EditorFor(model => model.UserRealName)
                        @Html.ValidationMessageFor(model => model.UserRealName, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("密码：")</td>
                    <td>
                        @Html.EditorFor(model => model.UserPass)
                        @Html.ValidationMessageFor(model => model.UserPass, "", new { @class = "text-danger" })
                    </td>
              
                    <td>@Html.Label("邮箱：")</td>
                    <td>
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("电话：")</td>
                    <td>
                        @Html.EditorFor(model => model.UserPhone)
                        @Html.ValidationMessageFor(model => model.UserPhone, "", new { @class = "text-danger" })
                    </td>
             
                    <td>@Html.Label("公用电话：")</td>
                    <td>
                        @Html.EditorFor(model => model.UseroffcePhone)
                        @Html.ValidationMessageFor(model => model.UseroffcePhone, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>@Html.Label("所属处室：")</td>
                    <td>
                        @Html.EditorFor(model => model.UserKeShi)
                        @Html.ValidationMessageFor(model => model.UserKeShi, "", new { @class = "text-danger" })
                    </td>
               
                    <td>@Html.Label("角色：")</td>
                    <td>
                        @Html.DropDownListFor(e => e.UserJueSe, ViewData["role"] as IEnumerable<SelectListItem>)
                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="center">
                        <input type="submit" value="添加用户" id="btn btn-default"   Class="btn1"/>
                        <input type="button" value="返回" id="btn_select"  Class="btn1" style="margin-left:10px" onclick="window.location.href = '/Systems/UserManagementSelect'" />
                    </td>

                </tr>
            </table>


    }
    
  
</body>
</html>
