@model ZiChanBeiZhu
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>资产类别编辑</title>
    <link href="~/css/css.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.1.js"></script>
   

</head>
<body>
@using (Ajax.BeginForm("JiFangJinChuSelectShiTu", new AjaxOptions() { HttpMethod = "Post"}))
{
    <h2   align="center" style="font-size:25px;font-weight:bold">资产类别编辑</h2>
    <table width="100%" id="ListArea" border="0" class="t1" align="center" cellpadding="0"
           cellspacing="0">
        <tr align="center">
            <td>
                @Html.Label("资产类别ID:")
                @Html.TextBoxFor(model => model.ATypeId, new { @readonly = "readonly" })
            </td>
        
            </tr>
        <tr align="center">
            <td>
                @Html.Label("资产类别:")&nbsp; &nbsp;
                @Html.EditorFor(model => model.AName)
            </td>
        </tr>
        <tr align="center">
            <td>
                @Html.Label("资产备注:")&nbsp; &nbsp;
                @Html.EditorFor(model => model.ABeiZhu)
            </td>
        </tr>
        <tr>
            <td colspan="4" align="center">
                <input id="btn_save" type="submit" value="保 存" class="btn1" />
                <input id="btn_QX" type="button" value="返回" class="btn1" style="margin-left:30px" onclick="window.location.href = '/ZiChan/Index'" />
            </td>
        </tr>
    </table>
}
</body>
</html>
