@model Entity.info_Asset

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    @*<script src="~/Scripts/WebDatePicker.js"></script>*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/css/css.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/DatePicker/WdatePicker.js"></script>
  
    


    <script src="~/Scripts/comm.js"></script>
    <script src="~/Scripts/list.js"></script>
    <script src="~/Scripts/calendar-ch.js"></script>
    <script src="~/Scripts/locate.js"></script>
    @*<script type="text/javascript"  src="../../../javascript/comm/comm.js"></script>
    <script type="text/javascript" src="../../../javascript/comm/list.js"></script>
    <script type="text/javascript"  src="../../../javascript/calendar-ch.js"> </script>
    <script type="text/javascript" src="../../../javascript/locate.js"> </script>*@
   
    <script type="text/javascript">
        window.onload = check;
        
		function tick() {
			var now = new Date();
			var hours, minutes, seconds, noon;
			var intHours, intMinutes, intSeconds;
			intHours = now.getHours();
			intMinutes = now.getMinutes();
			intSeconds = now.getSeconds();
			if (intHours < 24) {
				hours = intHours+":";
				noon = "A.M.";
			} else {
				intHours = intHours - 24;
				hours = intHours + ":";
				noon = "P.M.";
			}
			if (intMinutes < 10) {
				minutes = "0"+intMinutes+":";
			} else {
				minutes = intMinutes+":";
			}
			if (intSeconds < 10) {
				seconds = "0"+intSeconds+" ";
			} else {
				seconds = intSeconds+" ";
			}
			timeString = hours+minutes+seconds;
			var now = new Date();
		  	document.getElementById("nowTime").value=now.getFullYear()+"-"+(now.getMonth()+1)+"-"+now.getDate()+" "+timeString;
			window.setTimeout("tick();", 1000);
		}

		//load事件
		function check() {
		    //获得系统当前时间的方法
		    tick();
		}
     </script>
    <script type="text/javascript">
        $(function () {
            $("#JID").hide();//隐藏id
        })
        function img_select() {
            show();
            $(document).on("dblclick", ".option", function () {

                $("#YiJu").val($(this).text());
                $('#myModal').modal('hide');//关闭模态框
                //alert($(this).val());
                $("#JID").val(1);//获取jid

            })

        }

        $(document).on("click", ".date input", function () {
            WdatePicker();
        })

        var vm;
        function show() {
            //每个 Vue.js 应用的起步都是通过构造函数 Vue 创建一个 Vue 的根实例：
            vm = new Vue({
                el: ".modal-body",
                data: {    //每个 Vue 实例都会代理其 data 对象里所有的属性
                    nums: null
                }, methods: {
                    load: function () {
                        var t = this;
                        $.ajax({
                            url: "/Asset/selectYiJu",
                            type: "post",
                            success: function (msg) {
                                var dt = eval("(" + msg + ")");
                                t.nums = dt;
                            }
                        })
                    }
                }
            });
            vm.load();
        }

        function Add() {
            if (msg == "ok") {
                alert("添加成功！");
                window.location.href = "/Asset/AssetSelect";
            }
        }

    </script>

    <script type="text/javascript">
        $(document).on("click", ".sj input", function () {
            WdatePicker({ readOnly: true, dateFmt: 'yyyy-MM-dd' });
        })

        $(function () {
            $("#ck").click(function () {

                $.ajax({
                    url: "/Asset/selectCB",
                    type: "post",
                    data: "",
                    success: function (msg) {
                        var dts = eval("(" + msg + ")");

                        $("#re tr:gt(0)").remove();//清空表格

                        for (var i = 0; i < dts.length; i++) {
                            var $tr = $('<tr id="urm" align="center"></tr>');
                            var $td1 = $('<td id="urms" ss=' + dts[i]["MUserName"] + '  ids=' + dts[i]["MUserName"] + '>' + dts[i]["MUserName"] + "</td>");
                         
                           $tr.append($td1);
                            $("#re").append($tr,$tr2);
                        }

                        var $tr2 = $('<tr id="urm" align="center"><td><input id="Button1" type="button" value="关闭" data-dismiss="modal" Class="btn1" /></td></tr>');
                        $("#re").append($tr2)
                    }
                })
            })

            $(document).on("click", "#urms", function () {
                var em = $(this).attr("ss");
                ids = $(this).attr("ids");
                $("#sbid input").val(ids);
                $("#Text1").val(em);
                $("#myModals").modal("hide");
            })

            $("#btn_save").click(function () {
                var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;//十一位数字
                var num=/^\d+$/;//数字

                if ($("form input[type='text']").val() == null || $("form input[type='text']").val() == "") {
                    alert("请输入相对应的要输入的内容");
                    return false;
                } else if (!myreg.test($("#ASupplerPhone").val())) {
                    alert("供应商电话格式输入不正确（十一位一开头的纯数字）");
                    return false;
                } else if (!num.test($("#AMoney").val())) {
                    alert("价格输入不正确");
                    return false;
                }//价格
                 else {
                    $.ajax({
                        url: "/Asset/AssetCreates",
                        type: "post",
                        data: $("#form1").serialize(),
                        success: function (msg) {
                            if (msg == "ok") {
                                alert('添加成功');
                                window.location.href = '/Asset/AssetSelect';
                            } else {
                                alert("添加失败");
                            }
                        }
                    })
                }
            })
        })
    </script>

</head>
<body>
    @*@using (Ajax.BeginForm("AssetCreates", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "Add" }))
    {*@
      <form method="post" id="form1">
        <h2 align="center" style="font-size:25px;font-weight:bold">资产登记表</h2>
        <table cellspacing="0" cellpadding="8" align="center" border="1" style="border-collapse: collapse"
               bordercolor="#6c9ec1">
            <tr>
                <td>
                    @Html.Label("采购依据:")
                </td>
                <td id="td1">

                    <font face="宋体">
                        <input id="YiJu" type="text" />

                        @Html.EditorFor(model => model.JID)
                        <img id="Img1" alt="请选择" src="../img/lookup.gif" data-toggle="modal" data-target="#myModal"
                             onclick="img_select()" />
                    </font>

                </td>
                <td>
                    @Html.Label("采购形式:")
                </td>
                <td>
                    @Html.DropDownListFor(e => e.SID, ViewData["xs"] as IEnumerable<SelectListItem>)

                </td>

                <td>
                    @Html.Label("中标价格:")
                </td>
                <td>
                    @Html.EditorFor(model => model.AMoney)
                </td>

            </tr>
            <tr>
                
                <td>
                    @Html.Label("供应商:")
                </td>
                <td>
                    @Html.EditorFor(model => model.ASuppler)
                </td>
          
                <td>
                    @Html.Label("供应商电话:")
                </td>
                <td>
                    @Html.EditorFor(model => model.ASupplerPhone)
                </td>
                <td>
                    @Html.Label("资产名称:")
                </td>
               
                <td align="left">
                    <input id="Text1" type="text" />
                    <img src="~/img/lookup.gif" id="ck" data-toggle="modal" data-target="#myModals" />
                    <span id="sbid">@Html.HiddenFor(model => model.AName)</span>
                </td>
               
            </tr>
            <tr>
                <td>
                    @Html.Label("购入时间:")
                </td>
                <td class="date">
                    @Html.EditorFor(model => model.ABuyTime)
                </td>
                <td>
                    @Html.Label("资产类别:")
                </td>
                <td>
                    @Html.DropDownListFor(e => e.ATypeId, ViewData["type"] as IEnumerable<SelectListItem>)

                </td>
                <td>
                    @Html.Label("资产型号:")
                </td>
                <td>
                    @Html.EditorFor(model => model.AModel)
                </td>
            </tr>
            <tr>
              
                <td>
                    @Html.Label("设备负责人:")
                </td>
                <td>
                    @Html.EditorFor(model => model.AEM)
                </td>
                <td>
                    @Html.Label("登记时间:")
                </td>
                <td >
                    <input type="text" name="emajorRelease.registTime"
                           id="nowTime" readonly="readonly"
                           class="INPUT_STYLE2">
                    @*@Html.TextAreaFor(model => model.ARemarks, new { cols = "50" })*@
                </td>
                <td>
                    @Html.Label("备注:")
                </td>
                <td >

                    @Html.TextAreaFor(model => model.ARemarks, new { cols = "30" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("详细参数:")
                </td>
                <td colspan="3">
                    @Html.TextAreaFor(model => model.AParameter, new { cols = "50" })
                </td>
                <td align="left" colspan="2">
                    详细参数填写设备的详细参数<br />
                    如CPU型号个数，硬盘大小，内存大小<br />
                    安装的操作系统等参数
                </td>
            </tr>
           
            <tr>
                <td colspan="6" align="center">
                    <input id="btn_save" type="button" value="保 存" class="btn1"  />
                    <input id="btn_QX" type="button" value="返回" class="btn1" style="margin-left:30px" onclick="window.location.href = '/Asset/AssetSelect'" />

                </td>
            </tr>
        </table>
          </form>
    @* } *@


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <table id="Table2" border="0" cellpadding="3" cellspacing="0" class="table3" align="center">
                        <tr>
                            <td colspan="3" align="center">
                                <asp:ScriptManager ID="ScriptManager1" runat="server">
                                </asp:ScriptManager>
                                <asp:Panel ID="Panel1" runat="server" Width="100%">
                                    <h3 align="center">采购依据查询</h3>
                                    <table cellspacing="0" cellpadding="8" align="center" border="1" style="border-collapse: collapse"
                                           bordercolor="#6c9ec1" width="200px">
                                       
                                        <tr align="center">
                                           
                                            <td colspan="2" id="sel"  v-for="(item,i) in nums" >
                                               <span  class="option" :value="item.JID"> {{item.JName}}</span>
                                            
                                                @*<select size="10" style="width: 200px;" id="sel" >
                                                    <option class="option" v-for="(item,i) in nums" :value="item.JID" >{{item.JName}}</option>
                                                </select>*@
                                            
                                            </td>
                                        </tr>
                                        <tr align="center">
                                            <td>
                                                <input id="Button1" type="button" value="关闭" data-dismiss="modal" Class="btn1" />
                                            </td>
                                        </tr>
                                      
                                    </table>
                                   
                                    <br />

                            </td>
                        </tr>
                    </table>
                </div>
                <div>

                </div>



            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="myModals" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <form id="form1" role="form">
                        <h3 align="center">设备名称查询</h3>
                          <table cellspacing="0" cellpadding="8" class="tableEdit" id="re" align="center" border="1" 
                                   style="border-collapse: collapse"
                                   bordercolor="#6c9ec1" width="200">
                               
                            
                            </table>
                        
                        <div class="clearfix"></div>
                    </form>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
    </div>

</body>
</html>