@model Entity.info_Maintenance
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>设备维护查询</title>

    <link href="~/css/css.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style type="text/css">
        input,textarea  {
             outline: none;
            background: transparent;
            border: none;
            outline: medium;
        }
        #jcT input{
               outline: none;
            background: transparent;
            border: none;
            outline: medium;
        }
        .t1 {
            clear: both;
            border: 1px solid #c9dae4;
            margin-top: 10px;
        }

            .t1 tr th {
                color: #0d487b;
                line-height: 28px;
                border-bottom: 1px solid #9cb6cf;
                border-top: 1px solid #e9edf3;
                font-weight: normal;
                text-shadow: #e6ecf3 1px 1px 0px;
                padding-left: 5px;
                padding-right: 5px;
            }

            .t1 tr td {
                border-bottom: 1px solid #e9e9e9;
                padding-bottom: 5px;
                padding-top: 5px;
                color: #444;
                border-top: 1px solid #DDDDDD;
                padding-left: 5px;
                padding-right: 5px;
                word-break: break-all;
            }

        tr.over td {
            background: #bcd4ec; /*这个将是鼠标高亮行的背景色*/
        }

        #ListArea tr:first-child {
            background: linear-gradient(#F8F8F8,#DEDEDE);
            font-weight: 800;
            font-size: 15px;
        }

        .t1 tr {
            background-color: white;
            text-align: center;
            font-size: 15px;
        }

        .aa input {
            background-color: transparent;
            border: none;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            var ids;
            //加载检测
            show();
            var aa;
            var ids
        function show() {
            $.ajax({
                url: "/ChaXunXiTong/selectJC",
                type: "post",
                data: "",
                success: function (msg) {
                    var dts = eval("(" + msg + ")");
                    $("#jcT tr:gt(0)").remove();//清空表格
                    for (var i = 0; i < dts.length; i++) {
                        var $tr = $('<tr class="aa" align="center"></tr>');
                        var $td1 = $('<td>  <input id="pro" type="text" Width="240" value=' + dts[i]["project"] + '></td>');
                        var $td2 = $('<td>  <input id="res" type="text" Width="240" value=' + dts[i]["result"] + '></td>');
                        $tr.append($td1, $td2);
                        $("#jcT").append($tr);
                    }
                }
            })
        }
        })
    </script>
</head>
<body>
    <h2 align="center"> 设备维护查询</h2>

    <form method="post" action="/WhuWxiu/Edit" style="">
        <table cellspacing="0" cellpadding="7" align="center" border="1" style="border-collapse: collapse; margin-bottom:20px"
               bordercolor="#6c9ec1">
            <tr>
                <td align="center">  日期：</td>
                <td align="left" class="sj">
                    @Html.EditorFor(model => model.MaintenanceTime)
                    @Html.HiddenFor(model => model.MIDs)
                </td>
            </tr>
            <tr>
                <td align="center" style="height: 20px" id="sbname">
                    维护设备名称
                </td>
                <td align="left">
                    <input id="Text1" type="text" value="  @ViewData["a"].ToString()" />
                </td>

            </tr>
            <tr>
                <td align="center" style="height: 20px">
                    负责检测单位
                </td>
                <td align="left">
                    @Html.EditorFor(model => model.MDetectionUnit)
                </td>
            </tr>
            <tr>
                <td align="center" style="height: 20px">
                    检测人员
                </td>
                <td align="left">
                    @ViewData["s"]
                  </td>

            </tr>
            <tr>
                <td align="center" style="height: 20px">
                    陪同人员
                </td>
                <td align="left">
                    @ViewData["p"]
                </td>

            </tr>
            <tr> </tr>
            <tr>
                <td colspan="2">
                    <table width="100%" id="jcT" border="0" class="t1" align="center" cellpadding="0"
                           cellspacing="0">
                        <tr id="head">
                            <td>检测项目</td>
                            <td>检测结果</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>

                <td align="center">
                    相关建议
                </td>
                <td align="left">
                    @Html.TextBoxFor(model => model.Madvice)
                </td>
            </tr>

            <tr>
                <td align="center" colspan="4" height="26">
                    <input ID="btn_back" type="button" value="返 回" class="btn1" onclick="location.href = 'SelectTongJiWeiHuWeiXiu'" />
                    <br />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
