@model Entity.info_Equipment
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>机房设备管理</title>
    <link href="~/css/css.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        var AID;
        $(document).on("click", "#GouMai input", function () {
            WdatePicker();
        })
        $(function () {         
            $("#Img1").click(function () {
                $('#myModal').show();
                $.ajax({
                    type: "post",
                    data: "",
                    url: "SheBeiChaLeiBie",
                    success: function (msg) {
                        var use = eval("(" + msg + ")");
                        $("#sel tr").remove();//清空表格
                        for (var i = 0; i < use.length; i++) {
                     
                            var $tr1 = $('<tr id="urm" align="center" style="height:37px"></tr>');
                            var $td = $('<td id="btnAdd" AName=' + use[i]["SIDS"] + ' AID=' + use[i]["SID"] + '>' + use[i]["SIDS"] + "</td>");

                        
                            $tr1.append($td);
                            $("#sel").append($tr1);
                        }

                        var $tr2 = $('<tr id="urm" align="center"><td><input id="Button1" type="button" value="关闭" data-dismiss="modal" Class="btn1" /></td></tr>');
                        $("#sel").append($tr2)
                    }
                })
            })
            $(document).on("click", "#btnAdd", function () {
                var AName = $(this).attr("AName")
                $("#Text1").val(AName)
                var AID = $(this).attr("AID");
                $("#EAID").val(AID);
                $('#myModal').modal('hide');
            })
            //添加设备管理信息
            $("#BaoCun").click(function () {
                //获取设备名称值
                var EAID= $("#EAID").val();
                //获取使用处室的值
                var Eoffice= $("#Eoffice").val();
                //获取IP地址的值
                var EIP= $("#EIP").val();
                //获取业务系统的值
                var Ebusinesssystem= $("#Ebusinesssystem").val();
                //获取购买时间的值
                var EbuYTime= $("#EbuYTime").val();
                //获取使用年限的值
                var Eyear= $("#Eyear").val();
                //获取设备型号的值
                var EquipmentModel= $("#EquipmentModel").val();
                //获取系统版本的值
                var Eversion= $("#Eversion").val();
                //获取详细参数的值
                var DEetailedParameters= $("#DEetailedParameters").val();
                //获取供应商的值
                var Esupplier= $("#Esupplier").val();
                //获取联系电话的值
                var EPhone= $("#EPhone").val();
                //获取联系人的值
                var Econtact = $("#Econtact").val();
                if ((EAID == "" || EAID == null) || (Eoffice == "" || Eoffice == null) ||
                    (EIP == "" || EIP == null) || (Ebusinesssystem == "" || Ebusinesssystem == null) ||
                    (EbuYTime == "" || EbuYTime == null) || (Eyear == null || Eyear == "") ||
                    (EquipmentModel == null || EquipmentModel == "") || (Eversion == "" || Eversion == null) ||
                    (DEetailedParameters == "" || DEetailedParameters == null) || (Esupplier == null || Esupplier == "") ||
                    (EPhone == null || EPhone == "") && (Econtact == null || Econtact == "")) {
                    alert("请输入相对应的要输入的内容");
                } else {
                    $.ajax({
                        type: "post",
                        url: "SheBeiAddShiTu",
                        data: $("#form1").serialize(),
                        success: function (msg) {
                            if (msg == "OK") {
                                alert("添加成功正在前往机房设备查询");
                                window.location.href = '/JiFang/SheBeiGuanLiShiTu'
                            }
                            else {
                                alert("添加失败");
                            }
                        }

                    })
                }


               






            })








         })
               
             

    </script>
</head>
<body>
    <h2 align="center">机房设备管理表</h2>
    @*@using (Ajax.BeginForm("SheBeiAddShiTu",new AjaxOptions() {HttpMethod="Post"}))
    {*@
    <form id="form1">
         <table cellspacing="0" cellpadding="8" align="center" border="1" style="border-collapse: collapse"
               bordercolor="#6c9ec1">
            <tr>

                <td>设备管理员</td>
                <td colspan="3">@Html.DropDownListFor(model => model.Ename, ViewData["Enames"] as IEnumerable<SelectListItem>)</td>

            </tr>
            <tr>

                <td align="left" rowspan="2">
                    设备名称：
                </td>
                <td align="left" rowspan="2">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <input id="Text1" type="text" readonly="readonly"/>
                                @Html.HiddenFor(model => model.EAID)
                            </td>
                            <td>
                                <font face="宋体">
                                    <img id="Img1" alt="请选择" src="../img/lookup.gif" data-toggle="modal" data-target="#myModal" />
                                </font>
                            </td>
                        </tr>
                    </table>
                </td>
                <td align="left">
                    使用处室：
                </td>
                <td align="left">
                    @Html.TextBoxFor(model => model.Eoffice)
                </td>
            </tr>
            <tr>
                <td align="left">
                    IP地址：
                </td>
                <td align="left">
                    @Html.TextBoxFor(model => model.EIP)
                </td>
            </tr>
            <tr>
                <td align="left" rowspan="2">
                    业务系统：
                </td>
                <td align="left" rowspan="2">
                    @Html.TextBoxFor(model => model.Ebusinesssystem)
                </td>
                <td align="left">
                    购买时间：
                </td>
                <td align="left" id="GouMai">
                    @Html.TextBoxFor(model => model.EbuYTime)
                </td>
            </tr>
            <tr>
                <td align="left">
                    使用年限：
                </td>
                <td align="left">
                    @Html.TextBoxFor(model => model.Eyear)
                </td>
            </tr>
            <tr height="20">
                <td align="left" colspan="4"></td>
            </tr>
            <tr height="150">
                <td align="left">
                    设备参数：
                </td>
                <td align="left" colspan="3">
                    <table cellspacing="0" cellpadding="8" border="0" style="border-collapse: collapse"
                           bordercolor="#6c9ec1">
                        <tr>
                            <td>
                                设备型号：
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.EquipmentModel)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                系统版本：
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Eversion)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                详细参数：
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.DEetailedParameters)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr height="20">
                <td align="left" colspan="4"></td>
            </tr>
            <tr height="150">
                <td align="left">
                    供应商<br />
                    联系方式：
                </td>
                <td align="left" class="style2" colspan="3">
                    <table cellspacing="0" cellpadding="8" border="0" style="border-collapse: collapse"
                           bordercolor="#6c9ec1">
                        <tr>
                            <td>
                                供应商：
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Esupplier)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                联系电话：
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.EPhone)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                联系人：
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.Econtact)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td align="center" colspan="4" height="26">
                    <input id="BaoCun" type="button" value="保存" class="btn1" />
                    <input id="btn_add" type="button" value="返回" onclick="location.href = '/JiFang/SheBeiGuanLiShiTu'" class="btn1" />
                    <br />
                </td>
            </tr>
        </table>
    </form>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <table id="Table2" border="0" cellpadding="3" cellspacing="0" class="table3" align="center">
                        <tr>
                            <td colspan="3" align="center">
                                <asp:ScriptManager ID="ScriptManager1" runat="server">
                                </asp:ScriptManager>
                                <asp:Panel ID="Panel1" runat="server" Width="100%">
                                    <h3>设备名称查询</h3>
                                    <table cellspacing="0" cellpadding="8" class="tableEdit" id="sel" align="center" border="1"
                                           style="border-collapse: collapse"
                                           bordercolor="#6c9ec1" width="200"></table>
                                    <br />

                            </td>
                        </tr>
                    </table>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
